@page "/MySurveys"
@using System.IO.Compression
@using System.IO
@using Microsoft.AspNetCore.Mvc
@using SurveyAppPWr.Models
@using SurveyAppPWr.Models.Survey
@using SurveyAppPWr.Models.Test
@using SurveyAppPWr.Services

<h3>My Surveys</h3>

<Modal @ref="_modal" Title="Upload your file">
    <BodyTemplate>
        <p>
            <InputFile OnChange="HandleSelectedFiles" accept=".zip"/>
        </p>

        @if (_uploadResult != null)
        {
            <p>@_uploadResult</p>
        }
    </BodyTemplate>
    <FooterTemplate>
        <Button Color="ButtonColor.Primary" @onclick="OnHideUploadModalClick">Done</Button>
    </FooterTemplate>
</Modal>
<Button Color="ButtonColor.Success" @onclick="OnShowUploadModalClick">Upload files</Button>

<ConfirmDialog @ref="_dialog" />

<div class="scrollable-container">
    <div class="grid">
        @if (_surveyList != null)
        {
            foreach (var survey in _surveyList)
            {
                <div class="grid-item">
                    @survey.SurveyTitle @survey.Author @survey.CreationDate @survey.IsPublic
                    
                    <div class="button-container">
                        <Button Color="ButtonColor.Primary">Open</Button>
                        <a class="btn btn-primary" target="_blank" href="@($"/api/download/survey/{survey.SurveyId}")">Download</a>
                        <Button Color="ButtonColor.Danger" @onclick="() => DeleteSurveyCallback(survey)">Delete</Button>
                    </div>
                </div>
            }
        }
        
        
        @if (_testList != null)
        {
            foreach (var test in _testList)
            {
                <div class="grid-item">
                    @test.TestTitle
                    <div class="button-container">
                        <Button Color="ButtonColor.Primary">Open</Button>
                        <a class="btn btn-primary" target="_blank" href="@($"/api/download/test/{test.TestId}")">Download</a>
                        <Button Color="ButtonColor.Danger" @onclick="() => DeleteTestCallback(test)">Delete</Button>
                    </div>
                </div>
            }
        }
    </div>
</div>



@inject TestFileParserService TestParserService
@inject SurveyFileParserService SurveyParserService
@inject AuthenticationStateProvider AuthProvider
@inject ApplicationDbService DbService

@code {
    private string _uploadResult = string.Empty;
    private string _curUserId = string.Empty;
    private Modal _modal = default!;
    private List<TestownikTestModel>? _testList;
    private List<SurveyModel>? _surveyList;
    private ConfirmDialog _dialog = null!;
    
    private async Task HandleSelectedFiles(InputFileChangeEventArgs e)
    {
            var file = e.File;

            if (file.Name.EndsWith(".zip", StringComparison.OrdinalIgnoreCase))
            {
                await ProcessZipFileAsync(file);
            }
            else
            {
                _uploadResult = "Please upload a .zip file.";
            } 
    }

    private async Task ProcessZipFileAsync(IBrowserFile file)
    {

        var buffer = new byte[file.Size];
        await file.OpenReadStream().ReadAsync(buffer);

        var tempDir = Path.Combine(Path.GetTempPath(), Path.GetRandomFileName());
        Directory.CreateDirectory(tempDir);
        
        try
        {
            var tempZipPath = Path.Combine(tempDir, file.Name);
            await File.WriteAllBytesAsync(tempZipPath, buffer);

            ZipFile.ExtractToDirectory(tempZipPath, tempDir);
            // Console.WriteLine(tempDir);
            
            //rozroznianie miedzy ankieta a testem
            var infoFilePath = Path.Combine(tempDir, "!INFO.txt");
            if (File.Exists(infoFilePath))
            {
                _uploadResult = $"!INFO.txt found. Processing survey...";

                var survey = await SurveyParserService.ParseFileAsync(tempDir, _curUserId);
                await DbService.DbInsertSurveyAsync(survey);
                
                _uploadResult = $"Uploaded '{file.Name}' successfully with !INFO.txt and processed {survey.SQuestions.Count()} question(s).";

            }
            else
            {
                _uploadResult = $"!INFO.txt not found. Processing test...";
                var testName = file.Name.Replace(".zip", " ").Trim();
                
                var testownikTest = await TestParserService.ParseFileAsync(tempDir, _curUserId, testName);
                await DbService.DbInsertTestAsync(testownikTest);
                            
                _uploadResult = $"Uploaded '{file.Name}' successfully and processed {testownikTest.TestQuestions.Count} question(s).";
            }


            
        }
        catch (Exception ex)
        {
            _uploadResult = $"Error processing zip file: {ex.Message}";
        }
        finally
        {
            if (Directory.Exists(tempDir))
            {
                Directory.Delete(tempDir, true);
            }
        }
    }

    protected override async Task OnInitializedAsync()
    {
        var user = (await AuthProvider.GetAuthenticationStateAsync()).User;
        var userStringId = user.FindFirst(c => c.Type.Contains("nameidentifier"))?.Value;
        _curUserId = userStringId;

        _testList =  await DbService.TestContentsAsync(_curUserId);
        _surveyList = await DbService.SurveyContentsAsync(_curUserId);

        // foreach (var test in _testList)
        // {
        //     Console.WriteLine(test.TestTitle);
        // }
    }
    

    private async Task OnShowUploadModalClick()
    {
        _uploadResult = string.Empty;

        await _modal.ShowAsync();
    }

    private async Task OnHideUploadModalClick()
    {
        await _modal.HideAsync();
        _testList =  await DbService.TestContentsAsync(_curUserId);
        _surveyList = await DbService.SurveyContentsAsync(_curUserId);
    }

    private async Task DeleteTestCallback(TestownikTestModel test)
    {
        var temp = await ShowConfirmationAsync();

        if (temp)
        {
            await DbService.DeleteTestAsync(test);
            _testList =  await DbService.TestContentsAsync(_curUserId);

        }
    }
    
    private async Task DeleteSurveyCallback(SurveyModel survey)
    {
        var temp = await ShowConfirmationAsync();

        if (temp)
        {
            await DbService.DeleteSurveyAsync(survey);
            _surveyList =  await DbService.SurveyContentsAsync(_curUserId);

        }
    }

    private async Task<bool> ShowConfirmationAsync()
    {
        var confirmation = await _dialog.ShowAsync(
            title: "Are you sure you want to delete this?",
            message1: "This will delete the selected file. Once deleted can not be rolled back.",
            message2: "Do you want to proceed?");

        return confirmation;
    }

}